In [1]:
import pandas as pd

In [2]:
diversity_csv = "Resources/diversityindex.csv"
diversity_df = pd.read_csv(diversity_csv)
diversity_df.head()

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9

In [3]:
new_df = diversity_df

In [4]:
new_df['County'],new_df['State'] = diversity_df['Location'].str.rsplit(', ').str
new_df.head()

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013",County,State
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK

In [5]:
new_df

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013",County,State
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK
...,...,...,...,...,...,...,...,...,...,...,...
3190,"Osage County, MO",0.037540,0.3,0.2,0.1,0.0,0.7,0.6,98.1,Osage County,MO
3191,"Lincoln County, WV",0.035585,0.2,0.1,0.1,0.0,0.7,0.6,98.2,Lincoln County,WV
3192,"Leslie County, KY",0.035581,0.4,0.1,0.2,0.0,0.7,0.5,98.2,Leslie County,KY
3193,"Blaine County, NE",0.023784,0.2,0.0,0.0,0.0,0.8,0.2,98.8,Blaine County,NE
3194,"Keya Paha County, NE",0.021816,0.0,0.1,0.1,0.0,0.6,0.5,98.9,Keya Paha County,NE

In [6]:
diversity_df

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013",County,State
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK
...,...,...,...,...,...,...,...,...,...,...,...
3190,"Osage County, MO",0.037540,0.3,0.2,0.1,0.0,0.7,0.6,98.1,Osage County,MO
3191,"Lincoln County, WV",0.035585,0.2,0.1,0.1,0.0,0.7,0.6,98.2,Lincoln County,WV
3192,"Leslie County, KY",0.035581,0.4,0.1,0.2,0.0,0.7,0.5,98.2,Leslie County,KY
3193,"Blaine County, NE",0.023784,0.2,0.0,0.0,0.0,0.8,0.2,98.8,Blaine County,NE
3194,"Keya Paha County, NE",0.021816,0.0,0.1,0.1,0.0,0.6,0.5,98.9,Keya Paha County,NE

In [7]:
new_df2 = pd.DataFrame({"Diversity-Index":new_df.groupby(["State","County"])["Diversity-Index"].mean(),
                       "Black":new_df.groupby(["State","County"])["Black or African American alone, percent, 2013"].mean(),
                       "American Indian":new_df.groupby(["State","County"])["American Indian and Alaska Native alone, percent, 2013"].mean(),
                       "Asian":new_df.groupby(["State","County"])["Asian alone, percent, 2013"].mean(),
                       "Native Hawaiian":new_df.groupby(["State","County"])["Native Hawaiian and Other Pacific Islander alone, percent,"].mean(),
                       "Two or More Races":new_df.groupby(["State","County"])["Two or More Races, percent, 2013"].mean(),
                       "Hispanic/ Latino":new_df.groupby(["State","County"])["Hispanic or Latino, percent, 2013"].mean(),
                       "White":new_df.groupby(["State","County"])["White alone, not Hispanic or Latino, percent, 2013"].mean()})

In [8]:
new_df2

                                  Diversity-Index  Black  American Indian  \
State County
AK    Aleutians East Borough             0.738867    7.7             21.8
      Aleutians West Census Area         0.769346    7.4             13.8
      Anchorage Municipality             0.601515    6.3              8.1
      Bethel Census Area                 0.315556    0.7             81.8
      Bristol Bay Borough                0.648271    0.0             33.8
...                                           ...    ...              ...
WY    Sweetwater County                  0.340296    1.7              1.2
      Teton County                       0.325230    1.5              1.0
      Uinta County                       0.225552    0.8              1.3
      Washakie County                    0.296868    0.8              1.7
      Weston County                      0.147697    0.6              1.7

                                  Asian  Native Hawaiian  Two or More Races  \
State County
AK    Aleutians East Borough       41.4              0.7                3.7
      Aleutians West Census Area   31.1              2.3                4.8
      Anchorage Municipality        8.9              2.3                7.8
      Bethel Census Area            1.0              0.3                4.1
      Bristol Bay Borough           1.1              0.3               17.5
...                                 ...              ...                ...
WY    Sweetwater County             0.9              0.2                1.7
      Teton County                  1.3              0.1                1.5
      Uinta County                  0.4              0.2                1.7
      Washakie County               0.7              0.1                1.7
      Weston County                 0.3              0.0                2.1

                                  Hispanic/ Latino  White
State County
AK    Aleutians East Borough                  13.5   12.9
      Aleutians West Census Area              14.6   29.2
      Anchorage Municipality                   8.6   60.5
      Bethel Census Area                       1.6   11.5
      Bristol Bay Borough                      3.9   45.3
...                                            ...    ...
WY    Sweetwater County                       15.9   79.6
      Teton County                            15.1   80.7
      Uinta County                             9.1   87.5
      Washakie County                         14.2   82.6
      Weston County                            3.8   92.2

[3143 rows x 8 columns]

In [9]:
new_df2.head()

                                  Diversity-Index  Black  American Indian  \
State County
AK    Aleutians East Borough             0.738867    7.7             21.8
      Aleutians West Census Area         0.769346    7.4             13.8
      Anchorage Municipality             0.601515    6.3              8.1
      Bethel Census Area                 0.315556    0.7             81.8
      Bristol Bay Borough                0.648271    0.0             33.8

                                  Asian  Native Hawaiian  Two or More Races  \
State County
AK    Aleutians East Borough       41.4              0.7                3.7
      Aleutians West Census Area   31.1              2.3                4.8
      Anchorage Municipality        8.9              2.3                7.8
      Bethel Census Area            1.0              0.3                4.1
      Bristol Bay Borough           1.1              0.3               17.5

                                  Hispanic/ Latino  White
State County
AK    Aleutians East Borough                  13.5   12.9
      Aleutians West Census Area              14.6   29.2
      Anchorage Municipality                   8.6   60.5
      Bethel Census Area                       1.6   11.5
      Bristol Bay Borough                      3.9   45.3

In [10]:
#Unemployment Rate Dataset#
unemp_df = pd.read_csv('Resources/output.csv')
unemp_df.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [11]:
unemp_df

        Year     Month        State              County  Rate
0       2015  February  Mississippi       Newton County   6.1
1       2015  February  Mississippi       Panola County   9.4
2       2015  February  Mississippi       Monroe County   7.9
3       2015  February  Mississippi        Hinds County   6.1
4       2015  February  Mississippi       Kemper County  10.6
...      ...       ...          ...                 ...   ...
885543  2009  November        Maine     Somerset County  10.5
885544  2009  November        Maine       Oxford County  10.5
885545  2009  November        Maine         Knox County   7.5
885546  2009  November        Maine  Piscataquis County  11.3
885547  2009  November        Maine    Aroostook County   9.0

[885548 rows x 5 columns]

In [12]:
us_state_abbrev = {
   'Alabama': 'AL',
   'Alaska': 'AK',
   'Arizona': 'AZ',
   'Arkansas': 'AR',
   'California': 'CA',
   'Colorado': 'CO',
   'Connecticut': 'CT',
   'Delaware': 'DE',
   'Florida': 'FL',
   'Georgia': 'GA',
   'Hawaii': 'HI',
   'Idaho': 'ID',
   'Illinois': 'IL',
   'Indiana': 'IN',
   'Iowa': 'IA',
   'Kansas': 'KS',
   'Kentucky': 'KY',
   'Louisiana': 'LA',
   'Maine': 'ME',
   'Maryland': 'MD',
   'Massachusetts': 'MA',
   'Michigan': 'MI',
   'Minnesota': 'MN',
   'Mississippi': 'MS',
   'Missouri': 'MO',
   'Montana': 'MT',
   'Nebraska': 'NE',
   'Nevada': 'NV',
   'New Hampshire': 'NH',
   'New Jersey': 'NJ',
   'New Mexico': 'NM',
   'New York': 'NY',
   'North Carolina': 'NC',
   'North Dakota': 'ND',
   'Ohio': 'OH',
   'Oklahoma': 'OK',
   'Oregon': 'OR',
   'Pennsylvania': 'PA',
   'Rhode Island': 'RI',
   'South Carolina': 'SC',
   'South Dakota': 'SD',
   'Tennessee': 'TN',
   'Texas': 'TX',
   'Utah': 'UT',
   'Vermont': 'VT',
   'Virginia': 'VA',
   'Washington': 'WA',
   'West Virginia': 'WV',
   'Wisconsin': 'WI',
   'Wyoming': 'WY',
}

In [13]:
unemp_df2 = unemp_df

In [14]:
unemp_df = unemp_df[['County', "State", 'Rate']].copy()

In [15]:
unemp_df

                    County        State  Rate
0            Newton County  Mississippi   6.1
1            Panola County  Mississippi   9.4
2            Monroe County  Mississippi   7.9
3             Hinds County  Mississippi   6.1
4            Kemper County  Mississippi  10.6
...                    ...          ...   ...
885543     Somerset County        Maine  10.5
885544       Oxford County        Maine  10.5
885545         Knox County        Maine   7.5
885546  Piscataquis County        Maine  11.3
885547    Aroostook County        Maine   9.0

[885548 rows x 3 columns]

In [16]:
unemp_df2 = unemp_df

In [17]:
for key, value in us_state_abbrev.items():
    unemp_df2.loc[unemp_df2['State']==key,'State'] = value

In [18]:
unemp_df2.head()

          County State  Rate
0  Newton County    MS   6.1
1  Panola County    MS   9.4
2  Monroe County    MS   7.9
3   Hinds County    MS   6.1
4  Kemper County    MS  10.6

In [19]:
unemp_df_new = pd.DataFrame({"Unemployment Rate":unemp_df2.groupby(["State","County"])["Rate"].mean()})
unemp_df_new.head()

                      Unemployment Rate
State County
AL    Autauga County           5.417284
      Baldwin County           5.364198
      Barbour County           8.460185
      Bibb County              7.684877
      Blount County            5.164506

In [20]:
#Median Income & Population Dataset#
median_inc = pd.read_csv('Resources/2015 Median Income by County.csv')
median_inc.head()

,County-State,County,Population,Median household income,State Code,State
0,"Autauga County, Alabama",Autauga County,55221,51281.0,AL,Alabama
1,"Baldwin County, Alabama",Baldwin County,195121,50254.0,AL,Alabama
2,"Barbour County, Alabama",Barbour County,26932,32964.0,AL,Alabama
3,"Bibb County, Alabama",Bibb County,22604,38678.0,AL,Alabama
4,"Blount County, Alabama",Blount County,57710,45813.0,AL,Alabama

In [21]:
median_inc = median_inc[['County',"State Code", 'Population',"Median household income"]]
median_inc.head()

           County State Code  Population  Median household income
0  Autauga County         AL       55221                  51281.0
1  Baldwin County         AL      195121                  50254.0
2  Barbour County         AL       26932                  32964.0
3     Bibb County         AL       22604                  38678.0
4   Blount County         AL       57710                  45813.0

In [22]:
median_inc = median_inc.rename(columns={"State Code": "State"})

In [23]:
median_inc_newData = pd.DataFrame({"Median household income":median_inc.groupby(["State","County"])["Median household income"].mean(),
                              "Population":median_inc.groupby(["State","County"])["Population"].sum()})

In [24]:
median_inc_newData.head()

                                  Median household income  Population
State County
AK    Aleutians East Borough                      61518.0        3304
      Aleutians West Census Area                  84306.0        5684
      Anchorage Municipality                      78326.0      299107
      Bethel Census Area                          51012.0       17776
      Bristol Bay Borough                         79750.0         970

In [25]:
mergedData = pd.merge(unemp_df_new,median_inc_newData, on=["State",'County'],how="inner")

In [26]:
mergedData.head()

                      Unemployment Rate  Median household income  Population
State County
AL    Autauga County           5.417284                  51281.0       55221
      Baldwin County           5.364198                  50254.0      195121
      Barbour County           8.460185                  32964.0       26932
      Bibb County              7.684877                  38678.0       22604
      Blount County            5.164506                  45813.0       57710

In [27]:
newMerge = pd.merge(mergedData,new_df2, on=['State','County'], how="inner")

In [28]:
newMerge.head()

                      Unemployment Rate  Median household income  Population  \
State County
AL    Autauga County           5.417284                  51281.0       55221
      Baldwin County           5.364198                  50254.0      195121
      Barbour County           8.460185                  32964.0       26932
      Bibb County              7.684877                  38678.0       22604
      Blount County            5.164506                  45813.0       57710

                      Diversity-Index  Black  American Indian  Asian  \
State County
AL    Autauga County         0.388898   18.4              0.5    1.1
      Baldwin County         0.297942    9.5              0.7    0.9
      Barbour County         0.556605   47.6              0.6    0.5
      Bibb County            0.394100   22.1              0.4    0.2
      Blount County          0.221056    1.8              0.6    0.3

                      Native Hawaiian  Two or More Races  Hispanic/ Latino  \
State County
AL    Autauga County              0.1                1.7               2.7
      Baldwin County              0.1                1.5               4.6
      Barbour County              0.2                0.9               4.8
      Bibb County                 0.1                0.9               2.1
      Blount County               0.1                1.1               8.7

                      White
State County
AL    Autauga County   75.9
      Baldwin County   83.1
      Barbour County   46.3
      Bibb County      74.6
      Blount County    87.8

In [29]:
newMerge1 = newMerge.reset_index()

In [30]:
newMerge1.head()

,State,County,Unemployment Rate,Median household income,Population,Diversity-Index,Black,American Indian,Asian,Native Hawaiian,Two or More Races,Hispanic/ Latino,White
0,AL,Autauga County,5.417284,51281.0,55221,0.388898,18.4,0.5,1.1,0.1,1.7,2.7,75.9
1,AL,Baldwin County,5.364198,50254.0,195121,0.297942,9.5,0.7,0.9,0.1,1.5,4.6,83.1
2,AL,Barbour County,8.460185,32964.0,26932,0.556605,47.6,0.6,0.5,0.2,0.9,4.8,46.3
3,AL,Bibb County,7.684877,38678.0,22604,0.394100,22.1,0.4,0.2,0.1,0.9,2.1,74.6
4,AL,Blount County,5.164506,45813.0,57710,0.221056,1.8,0.6,0.3,0.1,1.1,8.7,87.8

In [31]:
newMerge1 = newMerge1[["State","County","Median household income","Unemployment Rate",
                            "Diversity-Index","White","Black","Hispanic/ Latino","Asian","American Indian",
                            "Native Hawaiian","Two or More Races"]]
newMerge1.head()

,State,County,Median household income,Unemployment Rate,Diversity-Index,White,Black,Hispanic/ Latino,Asian,American Indian,Native Hawaiian,Two or More Races
0,AL,Autauga County,51281.0,5.417284,0.388898,75.9,18.4,2.7,1.1,0.5,0.1,1.7
1,AL,Baldwin County,50254.0,5.364198,0.297942,83.1,9.5,4.6,0.9,0.7,0.1,1.5
2,AL,Barbour County,32964.0,8.460185,0.556605,46.3,47.6,4.8,0.5,0.6,0.2,0.9
3,AL,Bibb County,38678.0,7.684877,0.394100,74.6,22.1,2.1,0.2,0.4,0.1,0.9
4,AL,Blount County,45813.0,5.164506,0.221056,87.8,1.8,8.7,0.3,0.6,0.1,1.1

In [32]:
newMerge1

,State,County,Median household income,Unemployment Rate,Diversity-Index,White,Black,Hispanic/ Latino,Asian,American Indian,Native Hawaiian,Two or More Races
0,AL,Autauga County,51281.0,5.417284,0.388898,75.9,18.4,2.7,1.1,0.5,0.1,1.7
1,AL,Baldwin County,50254.0,5.364198,0.297942,83.1,9.5,4.6,0.9,0.7,0.1,1.5
2,AL,Barbour County,32964.0,8.460185,0.556605,46.3,47.6,4.8,0.5,0.6,0.2,0.9
3,AL,Bibb County,38678.0,7.684877,0.394100,74.6,22.1,2.1,0.2,0.4,0.1,0.9
4,AL,Blount County,45813.0,5.164506,0.221056,87.8,1.8,8.7,0.3,0.6,0.1,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...
2801,WY,Sweetwater County,69022.0,4.749691,0.340296,79.6,1.7,15.9,0.9,1.2,0.2,1.7
2802,WY,Teton County,75325.0,3.645062,0.325230,80.7,1.5,15.1,1.3,1.0,0.1,1.5
2803,WY,Uinta County,56569.0,5.538580,0.225552,87.5,0.8,9.1,0.4,1.3,0.2,1.7
2804,WY,Washakie County,47652.0,4.995062,0.296868,82.6,0.8,14.2,0.7,1.7,0.1,1.7
2805,WY,Weston County,57738.0,4.448765,0.147697,92.2,0.6,3.8,0.3,1.7,0.0,2.1

ModuleNotFoundError: No module named 'pymysql'

In [33]:
from io import StringIO

In [34]:
import boto3
# Let's use Amazon S3
s3 = boto3.resource('s3')

In [35]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

employee99
testdata99
umemppoyment

In [36]:
newMerge1

,State,County,Median household income,Unemployment Rate,Diversity-Index,White,Black,Hispanic/ Latino,Asian,American Indian,Native Hawaiian,Two or More Races
0,AL,Autauga County,51281.0,5.417284,0.388898,75.9,18.4,2.7,1.1,0.5,0.1,1.7
1,AL,Baldwin County,50254.0,5.364198,0.297942,83.1,9.5,4.6,0.9,0.7,0.1,1.5
2,AL,Barbour County,32964.0,8.460185,0.556605,46.3,47.6,4.8,0.5,0.6,0.2,0.9
3,AL,Bibb County,38678.0,7.684877,0.394100,74.6,22.1,2.1,0.2,0.4,0.1,0.9
4,AL,Blount County,45813.0,5.164506,0.221056,87.8,1.8,8.7,0.3,0.6,0.1,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...
2801,WY,Sweetwater County,69022.0,4.749691,0.340296,79.6,1.7,15.9,0.9,1.2,0.2,1.7
2802,WY,Teton County,75325.0,3.645062,0.325230,80.7,1.5,15.1,1.3,1.0,0.1,1.5
2803,WY,Uinta County,56569.0,5.538580,0.225552,87.5,0.8,9.1,0.4,1.3,0.2,1.7
2804,WY,Washakie County,47652.0,4.995062,0.296868,82.6,0.8,14.2,0.7,1.7,0.1,1.7
2805,WY,Weston County,57738.0,4.448765,0.147697,92.2,0.6,3.8,0.3,1.7,0.0,2.1

In [37]:
newMerge1.to_csv('/Users/ankbohra/Desktop/ETL-PROJECT/newMerge1')

In [38]:
s3_resource = boto3.resource('s3')

In [39]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

employee99
testdata99
umemppoyment

In [40]:
datauuuu = open('/Users/ankbohra/Desktop/ETL-PROJECT/newMerge1', 'rb')

In [41]:
s3_resource.Bucket('umemppoyment').put_object(Key='newMerge1', Body=datauuuu)

s3.Object(bucket_name='umemppoyment', key='newMerge1')